<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AirBus</title>
</head>
<body>
<h2>This is the Airbus 300</h2>
  <div class="Airbus">
    <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/5/59/Airbus_A300-600ST_Airbus_Industries_(AIB)_Beluga_2_F-GSTB_-_MSN_751_(9738915761).jpg", class: 'main' %>
  </div>

<p>Standard Airbus 300 Seating Chart </p>

  <ul class="column1">
    <p></p>
    <li class="seat" data-row='0' data-column='A'>1A</li>
    <li class="seat" data-row='0' data-column='B'>1B</li>
    <li class="seat" data-row='0' data-column='C'>1C</li>
    <li class="seat" data-row='0' data-column='D'>1D</li>

  </ul>
  <ul class="column2">
    <li class="seat" data-row='1' data-column='A'>2A</li>
    <li class="seat" data-row='1' data-column='B'>2B</li>
    <li class="seat" data-row='1' data-column='C'>2C</li>
    <li class="seat" data-row='1' data-column='D'>2D</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-row='2' data-column='A'>3A</li>
    <li class="seat" data-row='2' data-column='B'>3B</li>
    <li class="seat" data-row='2' data-column='C'>3C</li>
    <li class="seat" data-row='2' data-column='D'>3D</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-row='3' data-column='A'>4A</li>
    <li class="seat" data-row='3' data-column='B'>4B</li>
    <li class="seat" data-row='3' data-column='C'>4C</li>
    <li class="seat" data-row='3' data-column='D'>4D</li>

  </ul>
  <ul class="column4">
    <li class="seat" data-row='4' data-column='A'>5A</li>
    <li class="seat" data-row='4' data-column='B'>5B</li>
    <li class="seat" data-row='4' data-column='C'>5C</li>
    <li class="seat" data-row='4' data-column='D'>5D</li>

  </ul>
  <ul class="column5">
    <li class="seat" data-row='5' data-column='A'>6A</li>
    <li class="seat" data-row='5' data-column='B'>6B</li>
    <li class="seat" data-row='5' data-column='C'>6C</li>
    <li class="seat" data-row='5' data-column='D'>6D</li>

  </ul>
  <ul class="column6">
    <li class="seat" data-row='6' data-column='A'>7A</li>
    <li class="seat" data-row='6' data-column='B'>7B</li>
    <li class="seat" data-row='6' data-column='C'>7C</li>
    <li class="seat" data-row='6' data-column='D'>7D</li>

  </ul>
  <ul class="column7">
    <li class="seat" data-row='7' data-column='A'>8A</li>
    <li class="seat" data-row='7' data-column='B'>8B</li>
    <li class="seat" data-row='7' data-column='C'>8C</li>
    <li class="seat" data-row='7' data-column='D'>8D</li>

  </ul>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="airplanes.js"></script>
</body>
</html>
<!--
