<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Seating Chart</title>
  <link href="airplanes.scss" rel="stylesheet">
</head>
<body>
<div title="Seating Chart"></div>
<div id="seatingChart">

  <ul class="column1">
    <p></p>
    <li class="seat" data-column='0' data-row='A'></li>
    <li class="seat" data-column='0' data-row='B'></li>
    <li class="seat" data-column='0' data-row='C'></li>
    <li class="seat" data-column='0' data-row='D'></li>
    <li class="seat" data-column='0' data-row='E'></li>
    <li class="seat" data-column='0' data-row='F'></li>
  </ul>
  <ul class="column2">
    <li class="seat" data-column='1' data-row='A'></li>
    <li class="seat" data-column='1' data-row='B'></li>
    <li class="seat" data-column='1' data-row='C'></li>
    <li class="seat" data-column='1' data-row='D'></li>
    <li class="seat" data-column='1' data-row='E'></li>
    <li class="seat" data-column='1' data-row='F'></li>
  </ul>
  <ul class="column3">
    <li class="seat" data-column='2' data-row='A'></li>
    <li class="seat" data-column='2' data-row='B'></li>
    <li class="seat" data-column='2' data-row='C'></li>
    <li class="seat" data-column='2' data-row='D'></li>
    <li class="seat" data-column='2' data-row='E'></li>
    <li class="seat" data-column='2' data-row='F'></li>
  </ul>
  <ul class="column3">
    <li class="seat" data-column='3' data-row='A'></li>
    <li class="seat" data-column='3' data-row='B'></li>
    <li class="seat" data-column='3' data-row='C'></li>
    <li class="seat" data-column='3' data-row='D'></li>
    <li class="seat" data-column='3' data-row='E'></li>
    <li class="seat" data-column='3' data-row='F'></li>
  </ul>
  <ul class="column4">
    <li class="seat" data-column='4' data-row='A'></li>
    <li class="seat" data-column='4' data-row='B'></li>
    <li class="seat" data-column='4' data-row='C'></li>
    <li class="seat" data-column='4' data-row='D'></li>
    <li class="seat" data-column='4' data-row='E'></li>
    <li class="seat" data-column='4' data-row='F'></li>
  </ul>
  <ul class="column5">
    <li class="seat" data-column='5' data-row='A'></li>
    <li class="seat" data-column='5' data-row='B'></li>
    <li class="seat" data-column='5' data-row='C'></li>
    <li class="seat" data-column='5' data-row='D'></li>
    <li class="seat" data-column='5' data-row='E'></li>
    <li class="seat" data-column='5' data-row='F'></li>
  </ul>
  <ul class="column6">
    <li class="seat" data-column='6' data-row='A'></li>
    <li class="seat" data-column='6' data-row='B'></li>
    <li class="seat" data-column='6' data-row='C'></li>
    <li class="seat" data-column='6' data-row='D'></li>
    <li class="seat" data-column='6' data-row='E'></li>
    <li class="seat" data-column='6' data-row='F'></li>
  </ul>
  <ul class="column7">
    <li class="seat" data-column='7' data-row='A'></li>
    <li class="seat" data-column='7' data-row='B'></li>
    <li class="seat" data-column='7' data-row='C'></li>
    <li class="seat" data-column='7' data-row='D'></li>
    <li class="seat" data-column='7' data-row='E'></li>
    <li class="seat" data-column='7' data-row='F'></li>
  </ul>
  <ul class="column8">
    <li class="seat" data-column='8' data-row='A'></li>
    <li class="seat" data-column='8' data-row='B'></li>
    <li class="seat" data-column='8' data-row='C'></li>
    <li class="seat" data-column='8' data-row='D'></li>
    <li class="seat" data-column='8' data-row='E'></li>
    <li class="seat" data-column='8' data-row='F'></li>
  </ul>
  <ul class="column9">
    <li class="seat" data-column='9' data-row='A'></li>
    <li class="seat" data-column='9' data-row='B'></li>
    <li class="seat" data-column='9' data-row='C'></li>
    <li class="seat" data-column='9' data-row='D'></li>
    <li class="seat" data-column='9' data-row='E'></li>
    <li class="seat" data-column='9' data-row='F'></li>
  </ul>
  <ul class="column10">
    <li class="seat" data-column='10' data-row='A'></li>
    <li class="seat" data-column='10' data-row='B'></li>
    <li class="seat" data-column='10' data-row='C'></li>
    <li class="seat" data-column='10' data-row='D'></li>
    <li class="seat" data-column='10' data-row='E'></li>
    <li class="seat" data-column='10' data-row='F'></li>
  </ul>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="main.js"></script>
</div>
</body>
</html>
