
<h2>This is the Boeing 747</h2>

<div class="Boeing">
  <%= image_tag "http://www.britishairways.com/assets/images/information/about-ba/fleet-facts/boeing-747-400/photo-gallery/750x500-boeing747-400-2.jpg", class: 'main' %>
</div>
<p>Standard Boeing 747 Seating Chart </p>


  <ul class="column1">
    <p></p>
    <li class="seat" data-row='0' data-column='A'>1A</li>
    <li class="seat" data-row='0' data-column='B'>1B</li>
    <li class="seat" data-row='0' data-column='C'>1C</li>
    <li class="seat" data-row='0' data-column='D'>1D</li>
    <li class="seat" data-row='0' data-column='E'>1E</li>
    <li class="seat" data-row='0' data-column='F'>1F</li>
  </ul>
  <ul class="column2">
    <li class="seat" data-row='1' data-column='A'>2A</li>
    <li class="seat" data-row='1' data-column='B'>2B</li>
    <li class="seat" data-row='1' data-column='C'>2C</li>
    <li class="seat" data-row='1' data-column='D'>2D</li>
    <li class="seat" data-row='1' data-column='E'>2E</li>
    <li class="seat" data-row='1' data-column='F'>2F</li>
  </ul>
  <ul class="column3">
    <li class="seat" data-row='2' data-column='A'>3A</li>
    <li class="seat" data-row='2' data-column='B'>3B</li>
    <li class="seat" data-row='2' data-column='C'>3C</li>
    <li class="seat" data-row='2' data-column='D'>3D</li>
    <li class="seat" data-row='2' data-column='E'>3E</li>
    <li class="seat" data-row='2' data-column='F'>3F</li>
  </ul>
  <ul class="column3">
    <li class="seat" data-row='3' data-column='A'>4A</li>
    <li class="seat" data-row='3' data-column='B'>4B</li>
    <li class="seat" data-row='3' data-column='C'>4C</li>
    <li class="seat" data-row='3' data-column='D'>4D</li>
    <li class="seat" data-row='3' data-column='E'>4E</li>
    <li class="seat" data-row='3' data-column='F'>4F</li>
  </ul>
  <ul class="column4">
    <li class="seat" data-row='4' data-column='A'>5A</li>
    <li class="seat" data-row='4' data-column='B'>5B</li>
    <li class="seat" data-row='4' data-column='C'>5C</li>
    <li class="seat" data-row='4' data-column='D'>5D</li>
    <li class="seat" data-row='4' data-column='E'>5E</li>
    <li class="seat" data-row='4' data-column='F'>5F</li>
  </ul>
  <ul class="column5">
    <li class="seat" data-row='5' data-column='A'>6A</li>
    <li class="seat" data-row='5' data-column='B'>6B</li>
    <li class="seat" data-row='5' data-column='C'>6C</li>
    <li class="seat" data-row='5' data-column='D'>6D</li>
    <li class="seat" data-row='5' data-column='E'>6E</li>
    <li class="seat" data-row='5' data-column='F'>6F</li>
  </ul>
  <ul class="column6">
    <li class="seat" data-row='6' data-column='A'>7A</li>
    <li class="seat" data-row='6' data-column='B'>7B</li>
    <li class="seat" data-row='6' data-column='C'>7C</li>
    <li class="seat" data-row='6' data-column='D'>7D</li>
    <li class="seat" data-row='6' data-column='E'>7E</li>
    <li class="seat" data-row='6' data-column='F'>7F</li>
  </ul>
  <ul class="column7">
    <li class="seat" data-row='7' data-column='A'>8A</li>
    <li class="seat" data-row='7' data-column='B'>8B</li>
    <li class="seat" data-row='7' data-column='C'>8C</li>
    <li class="seat" data-row='7' data-column='D'>8D</li>
    <li class="seat" data-row='7' data-column='E'>8E</li>
    <li class="seat" data-row='7' data-column='F'>8F</li>
  </ul>
  <ul class="column8">
    <li class="seat" data-row='8' data-column='A'>9A</li>
    <li class="seat" data-row='8' data-column='B'>9B</li>
    <li class="seat" data-row='8' data-column='C'>9C</li>
    <li class="seat" data-row='8' data-column='D'>9D</li>
    <li class="seat" data-row='8' data-column='E'>9E</li>
    <li class="seat" data-row='8' data-column='F'>9F</li>
  </ul>
  <ul class="column9">
    <li class="seat" data-row='9' data-column='A'>9A</li>
    <li class="seat" data-row='9' data-column='B'>9B</li>
    <li class="seat" data-row='9' data-column='C'>9C</li>
    <li class="seat" data-row='9' data-column='D'>9D</li>
    <li class="seat" data-row='9' data-column='E'>9E</li>
    <li class="seat" data-row='9' data-column='F'>9F</li>
  </ul>
  <ul class="column10">
    <li class="seat" data-row='10' data-row='A'>10A</li>
    <li class="seat" data-row='10' data-row='B'>10B</li>
    <li class="seat" data-row='10' data-row='C'>10C</li>
    <li class="seat" data-row='10' data-row='D'>10D</li>
    <li class="seat" data-row='10' data-row='E'>10E</li>
    <li class="seat" data-row='10' data-row='F'>10F</li>
  </ul>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="airplanes.js"></script>
</body>
</html>
