<div id="main">
  Burning Airlines
</div>

<div id="uptime">
  <button>What's uptime?</button>
  <p></p>
</div>

<script id="appViewTemplate" type="html/template">
  <h1>Airplanes</h1>

  <div id="planeNameForm">
  </div>

  <ul id="airplanes">
  </ul>
</script>

<script id="airplaneInputViewTemplate" type="html/template">
<div id="planeName">
<input class="planeName" type="text" name="planeNameForm" placeholder="Put plane name here"></input>
</div>
<hr/>
<div id="planeRow">
<input class="planeRow" type="text" name="planeRowForm" placeholder="Put number of rows here"></input>
</div>
<hr/>
<div id="planeColumn">
<input class="planeColumn" type="text" name="planeColumnForm" placeholder="Put column letter here"></input>
</div>
<hr/>
<button type="submit" value="Submit">Submit</button>
<hr/>
</script>
