<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Private Jet</title>
</head> -->
<body>
  <h2>Ooooh you fancy. This is the Private Jet</h2>

  <div class="PrivatePlane">
    <%= image_tag "http://jetlux.com/images/Private-Jet-Dental-Holidays.png", class: 'main' %>
  </div>


  <ul class="column1">
    <p></p>
    <li class="seat" data-row='0' data-column='A'>1A</li>
    <li class="seat" data-row='0' data-column='B'>1B</li>

  </ul>
  <ul class="column2">
    <li class="seat" data-row='1' data-column='A'>2A</li>
    <li class="seat" data-row='1' data-column='B'>2B</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-row='2' data-column='A'>3A</li>
    <li class="seat" data-row='2' data-column='B'>3B</li>

  </ul>
  <ul class="column3">
    <li class="seat" data-row='3' data-column='A'>4A</li>
    <li class="seat" data-row='3' data-column='B'>4B</li>
  </ul>

<p>Private Jet's Current Flights </p>

  <% @airplane.flights.each do |f| %>
    <ul>
      <li>
      <%= link_to( f.flight_number, flight_path(f)) %>
      </li>
    </ul>
  <% end %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="airplanes.js"></script>
</body>
</html>
