<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AirBus</title>
  <link href="airplanes.scss" rel="stylesheet">
</head>
<body>
  <ul class="column1">
    <p></p>
    <li class="seat" data-column='0' data-row='A'></li>
    <li class="seat" data-column='0' data-row='B'></li>

  </ul>
  <ul class="column2">
    <li class="seat" data-column='1' data-row='A'></li>
    <li class="seat" data-column='1' data-row='B'></li>

  </ul>
  <ul class="column3">
    <li class="seat" data-column='2' data-row='A'></li>
    <li class="seat" data-column='2' data-row='B'></li>

  </ul>
  <ul class="column3">
    <li class="seat" data-column='3' data-row='A'></li>
    <li class="seat" data-column='3' data-row='B'></li>

  </ul>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="main.js"></script>
</body>
</html>
