<div id="main">
  Burning Airlines
</div>

<script id="appViewTemplate" type="html/template">
  <h1>Flights</h1>

  <div id="searchWord">
  </div>

  <ul id="results">
  </ul>
</script>

<script id="searchInputViewTemplate" type="html/template">

<div id="searchOrigin">
<input class="searchOrigin" type="text" name="searchOriginForm" placeholder="Origin" style="text-transform:uppercase"></input>
</div>
<br/>
<div id="searchDestination">
<input class="searchDestination" type="text" name="searchDestinationForm" placeholder="Destination" style="text-transform:uppercase"></input>
</div>
<br/>
<hr/>
<button type="submit" value="Submit">Submit</button>
<hr/>

</script>
