.seat {
  text-align: center;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: gainsboro;
  list-style-position:inside;
  border: 5px solid black;
}


/*.classAvail {
  /*list-style-image: url('PsKYEid.png');*/
  background-color: gainsboro;
}*/

.classUnAvail {
  font-family: "simplifica", sans-serif;
  font-size: 40px;
  content: "X";
  background-color: red;
}
